<head>
  <script>
    function mylogout(user_id) {
            //  '/' moves routing back up one level to root
                location.href='/' + 'logout/user_id';
    }
    function blinker()
      {
      $('.blink_me').fadeOut(500);
      $('.blink_me').fadeIn(500);
      }
      setInterval(blinker,5000);
  </script>
  <style type="text/css">
    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    <!--
    /* @group Blink */
    .blink {
     -webkit-animation: blink .75s linear infinite;
     -moz-animation: blink .75s linear infinite;
     -ms-animation: blink .75s linear infinite;
     -o-animation: blink .75s linear infinite;
     animation: blink .75s linear infinite;
    }
    @-webkit-keyframes blink {
     0% { opacity: 1; }
     50% { opacity: 1; }
     50.01% { opacity: 0; }
     100% { opacity: 0; }
    }
    @-moz-keyframes blink {
     0% { opacity: 1; }
     50% { opacity: 1; }
     50.01% { opacity: 0; }
     100% { opacity: 0; }
    }
    @-ms-keyframes blink {
     0% { opacity: 1; }
     50% { opacity: 1; }
     50.01% { opacity: 0; }
     100% { opacity: 0; }
    }
    @-o-keyframes blink {
     0% { opacity: 1; }
     50% { opacity: 1; }
     50.01% { opacity: 0; }
     100% { opacity: 0; }
    }
    @keyframes blink {
     0% { opacity: 1; }
     50% { opacity: 1; }
     50.01% { opacity: 0; }
     100% { opacity: 0; }
    }
    /* @end */
    
    </style>
</head>
<main>
  <div class="row">
    <div class="col-sm-2">
      
    </div>
    <div class="col-sm-10">
      <div class="w3-container w3-teal">
        <h1><%= the_username %> - myprofile </h1>
      </div> <!-- <div class="w3-container w3-teal"> -->
    
       <div class="main">
          <div class="col-md-6 col-sm-12">
              

                  <div class="form-group">
                      <label hidden >User_id:</label>
                      <input hidden type="text" class="form-control" placeholder="user_id" value="<%= the_user_id %>">
                      <input hidden type="text" class="form-control" placeholder="user_id" value="<%= the_image %>">
                  </div>
                  <div class="form-group">
                    <label>Photo:</label>
                    <!--<img src="../img_girl.jpg" alt="Girl in a jacket1" width="500" height="600">  -->
                    <img src="../<%= the_image %>" alt="Girl in a jacket3" width="250" height="300"> 
                    <!--<img src="../images/photo-1639423783505.jpg" alt="Girl in a jacket3a" width="500" height="600"> 
                    <img src="../../uploads/images/photo-1639423783505.jpg" alt="Girl in a jacket4" >
                    <!--<img src="/uploads/images/<%= the_image %>" class="form-control" placeholder="city"  alt="a member">-->
                 </div>
                  <div class="form-group">
                    <label>City:</label>
                    <input  disabled type="text" class="form-control" placeholder="city" value="<%= the_city %>" >
                 </div>
                 <div class="form-group">
                  <label>State:</label>
                  <input disabled type="text" class="form-control" placeholder="state" value="<%= the_state %>" >
               </div>
               <div class="form-group">
                <label>Patient or Caregiver:</label>
                <input disabled type="text" class="form-control" placeholder="patient_or_caregiver" value="<%= the_patient_or_caregiver  %>">
             </div>
             <div class="form-group">
              <label>Illness:</label>
              <input disabled type="text" class="form-control" placeholder="illness" value="<%= the_illness %>">
           </div>
               <div class="form-group">
                <label>brief description:</label><br>
                <textarea disabled type="text" rows="5" cols="50" class="form-control" placeholder="brief_description"  ><%= the_brief_description  %></textarea>
               </div>
               <div class="form-group">
                <label>detailed description:</label><br>
                <textarea disabled type="text" rows="5" cols="50" class="form-control" placeholder="detailed_description" ><%= the_detailed_description %></textarea>
               </div>
                </form>
              
    
            </div> <!-- <div class="col-md-6 col-sm-12">-->
      </div>  <!-- <div class="main"> -->
    </div>  <!-- <div class="col-sm-10">-->
  </div>   <!-- <div class="row">-->
  </main>


